# build output
dist/
.astro/

# asset generation temp
.assets-tmp/

# dependencies
node_modules/

# logs
logs/
*.log
npm-debug.log*

# env
.env
.env.production

# macOS
.DS_Store

# editor
.vscode/*
!.vscode/extensions.json
.idea/
